<img class="fill-bg" src="assets/image/guest-bg.jpg" alt="">
<div class="container guest-container absolute-center">
    <h1 class="title text-center">
        <span class="border-line border-line-white border-line--left"></span>
        特邀嘉宾
        <span class="border-line border-line-white border-line--right"></span>
    </h1>
    <p class="sub-title text-center mb50">业界大咖云集，行业泰斗聚首，与您共话发展机遇</p>
    <div class="guest-container--flex">
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-1-1.jpg">
                <div class="guest-hover-brief">
                    <span>光纤传送网与宽带信息网专家。现兼任国家863计划监督委员会副主任、国家973计划专家顾问组成员、国家信息化专家组咨询委员会委员、中国通信协会副理事长。曾任信息产业部电信科学技术研究院副院长兼总工程师、大唐电信集团副总裁。是国内最早从事数字通信技术研究的骨干之一。</span>
                </div>
            </div>
            <p class="guest-info guest-info--name">邬贺铨</p>
            <p class="guest-info guest-info--company">中国工程院院士</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-1-2.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">倪光南</p>
            <p class="guest-info guest-info--company">中国工程院院士</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-1-3.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">何桂立</p>
            <p class="guest-info guest-info--company">中国信息通信研究院副院长</p>
        </div>
    </div>
    <div class="guest-container--flex">
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-2-1.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">吴耕</p>
            <p class="guest-info guest-info--company">英特尔院士、通信与设备事业部 无线标准首席技术专家</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-2-2.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">张建宁</p>
            <p class="guest-info guest-info--company">中关村物联网产业联盟理事长</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-2-3.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">王正伟</p>
            <p class="guest-info guest-info--company">中关村物联网产业联盟秘书长</p>
        </div>
    </div>
    <div class="guest-container--flex">
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-3-1.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">邢炜</p>
            <p class="guest-info guest-info--company">国普天集团总经理</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-3-2.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">林晓东</p>
            <p class="guest-info guest-info--company">中兴通信股份有限公司副总裁</p>
        </div>
        <div>
            <div class="guest-image-container">
                <img src="assets/image/photo-3-3.jpg">
                <div class="guest-hover-brief">
                    <span></span>
                </div>
            </div>
            <p class="guest-info guest-info--name">张露峰</p>
            <p class="guest-info guest-info--company">华为IOT解决方案首席架构师 </p>
        </div>
    </div>
</div>