<img class="fill-bg" src="assets/image/lightspot-bg.jpg" alt="">
<div class="container lightspot-container absolute-center">
    <h1 class="title text-center">
        <span class="border-line border-line-white border-line--left"></span>
        大会亮点
        <span class="border-line border-line-white border-line--right"></span>
    </h1>
    <p class="sub-title text-center mb50">实力商机火热打响，打造行业最强盛宴</p>
    <div class="lightspot-carousel-banner">
        <div class="carousel jcarousel" data-jcarousel="true">
            <ul class="carousel__indicators">
                <li>
                    <div class="carousel-bg">
                        <p>与业界领导及专家 面对面专属接触 及深入交流</p>
                    </div>
                    <img src="assets/image/lightspot-banner-1.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>行业大咖一对一 帮助企业快速进行 市场布局与拓展</p>
                    </div>
                    <img src="assets/image/lightspot-banner-2.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>三大运营商齐聚 提供行业最新、最佳 最全解决方案</p>
                    </div>
                    <img src="assets/image/lightspot-banner-3.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>全球物联网大赛 云集重庆优秀项目</p>
                    </div>
                    <img src="assets/image/lightspot-banner-4.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>企业路演展区提供 绝佳合作与交流平台 捕捉更多市场机遇</p>
                    </div>
                    <img src="assets/image/lightspot-banner-5.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>行业最新热点全程奉上 互动独立专区全面上线</p>
                    </div>
                    <img src="assets/image/lightspot-banner-6.jpg">
                </li>
                <li>
                    <div class="carousel-bg">
                        <p>多方位媒体全程直播 获取更多曝光机会</p>
                    </div>
                    <img src="assets/image/lightspot-banner-7.jpg">
                </li>
            </ul>
        </div>
        <ul class="carousel__control">
            <li>
                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"><i class="fa fa-chevron-circle-left"></i></a>
            </li>
            <li>
                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"><i class="fa fa-chevron-circle-right"></i></a>
            </li>
        </ul>
    </div>

</div>