<div class="container meeting-container">
    <h1 class="title text-center">
        <span class="border-line border-line-dark border-line--left"></span>
        会议安排
        <span class="border-line border-line-dark border-line--right"></span>
    </h1>
    <p class="sub-title text-center mb50">精致会议内容，独享专属盛宴</p>

    <div>
        <span>主论坛主题：<span class="hightlight">5G时代·NB-loT技术发展高峰论坛</span></span>
        <div class="fr">
            <span>7月6号</span>
            <a class="btn btn-time btn-time--left active">9:00-12:00</a><a class="btn btn-time btn-time--right">13:30-17:00</a>
        </div>
    </div>
</div>