<div class="container meeting-container">
    <h1 class="title text-center">
        <span class="border-line border-line-dark border-line--left"></span>
        会议安排
        <span class="border-line border-line-dark border-line--right"></span>
    </h1>
    <p class="sub-title text-center mb50">精致会议内容，独享专属盛宴</p>

    <section class="mb20">
        <span>主论坛主题：<span class="highlight">5G时代·NB-loT技术发展高峰论坛</span></span>
        <div class="fr" id="tabs">
            <span class="mr10">7月6号</span>
            <a class="btn btn-time btn-time--left active">9:00-12:00</a><a class="btn btn-time btn-time--right">13:30-17:00</a>
        </div>
        <div class="clearfix"></div>
    </section>

    <section id="meeting-table">
        <section style="display: block">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>流程</th>
                    <th>时间</th>
                    <th>主题</th>
                    <th>主讲</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="4" class="bold">嘉宾致辞</td>
                    <td>9:00-9:10</td>
                    <td>欢迎词（重庆物联网的发展趋势）</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:10-9:15</td>
                    <td>市级领导致辞</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:15-9:20</td>
                    <td>工业和信息化部</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:20-9:25</td>
                    <td>嘉宾致辞</td>
                    <td></td>
                    <td>中国信息通信研究院副院长</td>
                </tr>
                <tr>
                    <td class="bold">发布会</td>
                    <td>9:25-9:35</td>
                    <td>IOT实验室发布会</td>
                    <td></td>
                    <td>中移物联网公司</td>
                </tr>
                <tr>
                    <td class="bold">演讲1</td>
                    <td>9:20-9:50</td>
                    <td>《物联网的产业机遇与安全挑战》</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bold">演讲2</td>
                    <td>9:50-10:20</td>
                    <td>《5G发展进程与IOT物联网发展现状》</td>
                    <td></td>
                    <td>3中国信息通信研究院副总工程师</td>
                </tr>
                <tr>
                    <td class="bold">演讲3</td>
                    <td>10:20-10:40</td>
                    <td class="highlight">《物联网（IOT）加速通向5G之路》</td>
                    <td></td>
                    <td class="highlight">英特尔院士、通信与设备事业部 无线标准首席技术专家</td>
                </tr>
                <tr>
                    <td colspan="5" class="bold">10:40-10:50 茶歇时间</td>
                </tr>
                <tr>
                    <td class="bold">演讲4</td>
                    <td>10:50-11:10</td>
                    <td>待定</td>
                    <td></td>
                    <td>重邮/重大（5G教授）</td>
                </tr>
                <tr>
                    <td class="bold">演讲5</td>
                    <td>11:10-11:30</td>
                    <td>《物联网未来发展趋势》</td>
                    <td>张建宁</td>
                    <td>中关村联盟理事长</td>
                </tr>
                <tr>
                    <td class="bold">启动仪式</td>
                    <td>11:30-11:40</td>
                    <td>全球物联网大赛启动仪式</td>
                    <td>王正伟</td>
                    <td>介绍重庆赛区及启动</td>
                </tr>
                <tr>
                    <td class="bold">高峰对话</td>
                    <td>11:40-12:00</td>
                    <td colspan="3" class="bold">
                        <p>1、企业问答：政府领导、专家、院士;</p>
                        <p>2、媒体采访：相关媒体对领导、专家、院士进行群访，华龙网同步直播</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section style="display: none">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>流程</th>
                    <th>时间</th>
                    <th>主题</th>
                    <th>主讲</th>
                    <th>职务</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>13:30-13:40</td>
                    <td>重庆物联网产业发展趋势</td>
                    <td>张 炎</td>
                    <td>中国信息通信研究院西部分院</td>
                </tr>
                <tr>
                    <td></td>
                    <td>13:40-14:00</td>
                    <td>物联网的实际行业应用</td>
                    <td>林晓东</td>
                    <td>中兴通信股份有限公司副总裁</td>
                </tr>
                <tr>
                    <td></td>
                    <td>14:00-14:20</td>
                    <td>NB-IOT技术发展</td>
                    <td>张露峰</td>
                    <td>华为IOT解决方案首席架构师</td>
                </tr>
                <tr>
                    <td></td>
                    <td>14:20-14:40</td>
                    <td>NB-IOT网络或物联网战略</td>
                    <td></td>
                    <td>中移物联网有限公司</td>
                </tr>
                <tr>
                    <td></td>
                    <td>14:40-15:00</td>
                    <td></td>
                    <td></td>
                    <td>中国联通网络有限公司</td>
                </tr>
                <tr>
                    <td></td>
                    <td>15:00-15:20</td>
                    <td>待定</td>
                    <td>邢炜</td>
                    <td>中国普天集团总经理</td>
                </tr>
                <tr>
                    <td></td>
                    <td>15:20-15:40</td>
                    <td>基于窄带物联网的人工智能应用</td>
                    <td>颜小杰</td>
                    <td>厦门纵行信息科技有限公司</td>
                </tr>
                <tr>
                    <td colspan="5" class="bold">圆桌交流：IOT/5G在智能智慧行业的应用及发展【展示区旁】</td>
                </tr>
                <tr>
                    <td></td>
                    <td>15:40-16:30</td>
                    <td colspan="3" class="bold">张炎、张建宁、吴耕、张露峰、颜小杰等嘉宾与您共同探讨行业痛点与机遇</td>
                </tr>
                <tr>
                    <td></td>
                    <td>16:30-17:00</td>
                    <td colspan="3" class="bold">参观展台、自由交流等</td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>
</div>

<script>
    $(document).ready(function () {
        $("#tabs a").bind("click", function () {
            var index = $(this).index();
            var tables = $("#meeting-table > section");
            $(this).parent().children("a").removeClass("active");//将所有选项置为未选中
            $(this).addClass("active"); //设置当前选中项为选中样式
            tables.hide();//隐藏所有选中项内容
            tables.eq(index-1).show(); //显示选中项对应内容
        });

    });
</script>