<img class="fill-bg" src="assets/image/seat-bg.jpg">
<div class="seat-container absolute-center">
    <h1 class="title text-center mb50">
        <span class="border-line border-line-white border-line--left"></span>
        黄金赞助席位
        <span class="border-line border-line-white border-line--right"></span>
    </h1>
    <p class="sub-title text-center mb50">业界最优曝光机会等您抢滩更多市场机遇</p>
    <div class="seat-container--block">
        <p>您将拥有</p>
        <p>主题公开演讲、媒体直播机会、专属企业展区、VIP嘉宾对话...</p>
    </div>
</div>