@meeting-blue: #40c5ff;
@meeting-border-grey: #e5e5e5;

.meeting-container {
  font-family: @font-family-pingfang-regular;
  color: @grey-dark;
  font-size: 1.6rem;

  .highlight {
    color: @meeting-blue;
  }

  .bold{
    font-weight: bold;
  }
}

.btn-time {
  color: @grey-dark;
  background-color: transparent;
  border: 1px solid @meeting-border-grey;
  &.active {
    box-shadow: none;
    border-color: @meeting-blue;
    color: @meeting-blue;
  }
}

.btn-time--left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-time--right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

.table > thead > tr,
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #eee;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
  text-align: center;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 0;
}